body{
background:#999;
background-image: url("../images/bckg.jpeg");
font-family:arial;
  
margin:0;
}

header{
background:#D8FA85;
color:#85FAD8;
}

.discount {
  background:#FA9A85;
  color:white;
  padding:5px;
}
