body {
background:#999;
background-image: url("../images/bckg.jpeg");
font-family:arial;
  
margin:0;
}

header {
background:#D8FA85;
}

header h1 {
color:#85FAD8;
margin:0;
}

nav ul {
margine:0;
}

nav ul li {
display:inline-block;
list-style-type: none;
}

.discount {
  background:#FA9A85;
  color:white;
  padding:5px;
}
